body {
    font-family: "Smythe", sans-serif;
    margin: 0;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
} 

header, p{
    padding: 0px;
    margin: 0px;
}

.card{
    width: 600px;
    height: 1161px;
    background-color: white;
}

.header{
    background-image: url(./assets/burger-header.jpg);
    background-size: cover;
    width: 600px;
    height: 167px;
    color: white;
}

.top-text{
    margin-left: 46px;
    padding-top: 46px;
    
}

.rest-name{
    font-size: 40px;
}

.rest-desc{
    font-size: 23px;
}

.main {
    display: flex;
    background-color: white;
    width: 600px;
    height: 1000px;
    flex-direction: column;
    margin-left: 40px;
}

.img-food1{
    width: 70px;
    height: 90px;
    background-image: url(./assets/pizza.jpg);
    background-size: cover;
}

.img-food2{
    width: 70px;
    height: 90px;
    background-image: url(./assets/burger.jpg);
    background-size: cover;
}
.img-food3{
    width: 70px;
    height: 90px;
    background-image: url(./assets/beer.jpg);
    background-size: cover;
}

.items{
    display: flex;
    margin: 45px;
    font-size: 30px;
}

.barrier {
    width: 550px;
    height: 1px;
    background-color: #D2D2D2;
    border-radius: 20px;
}

.item-desc {
    color: #8B8B8B;
    font-size: 16px;
}

.img-food1, .img-food2, .img-food3{
    margin-right: 31px;
}

.add-btn{
    color: 3C3C3C;
    background-color: white;
    font-size: 32px;
    height: 50px;
    width: 50px;
    border: 3px solid #DEDEDE;
    border-radius: 250px;
}

.inner-items{
    width: 400;
}